# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-lock.yaml

# Vite
dist/
.cache/
vite.config.timestamp-*

# Logs
*.log
logs/
debug.log
error.log

# Editor / System files
.DS_Store
Thumbs.db

# Env files
.env
.env.*.local

# VSCode settings
.vscode/
.idea/

# Local build
*.local

# Optional TypeScript
*.tsbuildinfo
