.wrapper {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.mainColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content {
  display: flex;
  /* align-items: flex-start; */
  justify-content: center;
  gap: 1rem;
}
