.currentWeatherCard {
  background-image: url("./bg-today-large.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  /* margin: 2rem; */
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}

.location span:last-child {
  font-weight: 200;
  color: var(--neutral-200);
  font-size: 1rem;
}

.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-style: italic;
}

.iconBox {
  width: 150px;
  height: 150px;
}

.iconBox img {
  width: 100%;
  height: 100%;
}
