.weatherDetailsCard {
  background-color: var(--neutral-800);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 0.25;
}

.weatherDetailsCard span:first-child {
  color: var(--neutral-300);
}

.weatherDetailsCard span:last-child {
  color: var(--neutral-100);
  font-size: 1.5rem;
  font-weight: 300;
}
