.hourlyForecast {
  background-color: var(--neutral-800);
  padding: 1rem;
  border-radius: 12px;
  flex: 1;
}

.hourlyForecast h2 {
  padding-bottom: 1rem;
}

.hourlyForecastList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
