.container {
  display: flex;
  gap: 1rem;
  background-color: #f9f9f9;
  background-color: transparent;
  width: 45%;
  margin: 0 auto;
  padding-bottom: 1.5rem;
}

.searchBar {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 8px;
  padding: 0.7rem;
  border-radius: 12px;
  background: var(--neutral-800);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.searchBar input {
  border: none;
  outline: none;
  font-size: 1rem;
  width: 100%;
  background-color: transparent;
  color: var(--neutral-300);
}

.searchBar input::placeholder {
  color: var(--neutral-300);
  opacity: 1;
}
